footer{
    border-top: 10px inset $secondary-color;
    margin-top: 7.5%;
}
.footer-wrapper {
    background: $smoke-color;
}

.footer-wrapper{
    .container{
        padding-top: 30px;
        
    }
}
.copyright-wrap {
    padding: 22px 0;
}
.widget-area {
    padding: 0px 0 90px;
    @include md {
        padding: 0px 0 30px;
    }
}
.copyright-text {
    margin: 0;
    color: $title-color;
    font-weight: 400;
    font-size: 18px;
    a {
        color: $title-color;
    }
}
.footer-menu-area {
    border-bottom: 2px solid $title-color;
    border-top: 2px solid $title-color;
    padding: 21px 0;
    .footer-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 15px 40px;
        li {
            display: inline-block;
            a {
                display: block;
                position: relative;
                font-weight: 600;
                font-size: 14px;
                font-family: $title-font;
                color: $title-color;
                text-transform: uppercase;
                letter-spacing: -0.14px;
            }
        }
    }
    @include lg {
        .footer-menu-list {
            gap: 15px 28px;
        }
    }
    @include xs {
        .footer-menu-list {
            display: block;
            li {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/*footer 2************/
.footer-layout2 {
    .copyright-wrap {
        border-top: 2px solid $title-color;
    }
}



// Marcelo
.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.footer-links{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-contact{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-contact .widget_title{
    align-self: flex-start;
}
@include md{
    .footer-info-container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .footer-logo{
        width: 66%;
        padding: 9%;
    }
    .footer-logo-container{ 
        width: 100%; 
    } 
    .footer-contact, .footer-links{
        width: 45%;
    }
}

