/*feature area 1***********************/
.feature-card {
    background: #fff;
    // padding: 20px 18px;
    padding: 2%;
    &-icon {
        margin-bottom: 37px;
    }
    &-title {
        a {
            color: $title-color;
        }
    }
    &-text {
        margin-bottom: 24px;
    }
    @include md {
        padding: 30px 26px;
        &-title {
            font-size: 20px;
        }
        &-icon {
            margin-bottom: 34px;
        }
    }
}


/*skill-feature**************/
.skill-feature {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 27px;
    }
    &_title {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 7px;
    } 
    .progress {
        background: transparent;
        border-radius: 0;
        overflow: visible;
        height: 4px;
        .progress-bar {
            background: $title-color;
            border-radius: 0;
            height: 4px;
        }
        .progress-value {
            font-size: 14px;
            font-weight: 600;
            font-family: $title-font;
            position: relative;
            top: -29px;
            transform: translate(-100%, 0);
        }
    }
}

/*feature area 3***********************/
.feature-static-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.feature-static {
    position: sticky;
    top: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
    width: 100%;
}
@include lg {
    .feature-static {
        position: initial;
    }
}
/*feature area 4***********************/
.feature-card.style-grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    .feature-card-icon {
        flex: none;
    }
    .feature-card-title {
        margin-top: -0.2em;
    }
    .feature-card-text {
        font-size: 18px;
    }
} 
@include ml {
    .feature-card.style-grid {
        gap: 50px;
    }
}
@include xs {
    .feature-card.style-grid {
        display: block;
    }
}
/*feature area 2***********************/
.feature-card.style2 {
    background: $gray-color;
    .feature-card-icon {
        filter: brightness(99) grayscale(99);
    }
    .feature-card-title {
        a {
            color: $smoke-color;
        }
    }
    .feature-card-text {
        color: $smoke-color;
    }
    .link-btn {
        color: $smoke-color;
        &:after,
        &:before {
            background: $smoke-color;
        }
        img {
            filter: brightness(99) grayscale(99);
        }
    }
}

// MARCELO 
.services-area-home{
    overflow-x: hidden !important;
}
.services-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;

}
.services-title{
    text-align: center;
}
.service-card{
    width: 25%;
    // background-color: #fefafa;
    border:  1px solid #ededed;
    padding-bottom: 1%;
}
// .feature-card{
   
// }
.service-images{
    display: flex;
    flex-direction: row;
    width: 100%;;
    justify-content: space-between;
    padding-top: 4%;
   
}
.service-thumbnail{
    box-shadow: $theme-shadow;
    width: 48%;
    height: auto;
}
.feature-card-title{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 4%;
}
.all-services-link-container{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-services-link{
    font-size: 1.5em;
    color: black;
    text-decoration: underline solid $theme-color !important;
}
.service-link{
    color: $body-color;
}

@include hd{
    .service-card{
        width: 20%;
    }
    .all-services-link-container {
        font-size: 1.5em;
        line-height: 1.25em;
    }
    .all-services-link{
        font-size: 1.5em;
        color: black;
        // text-decoration: underline solid $theme-color !important;
        text-decoration: #cf1338 underline;
    }
}
@include md {
    .services-card-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-card{
        width: 90%;
    }
    .all-services-link-container{
        width: 90%;
    }
    .all-services-link{
        font-size: 1.5em;
        color: black;
        // text-decoration: underline solid $theme-color !important;
        text-decoration: #cf1338 underline !important;
    }
}
