.glanceContainer{
    margin-bottom: 9%;
}
.glanceTitle{
    text-decoration: #cf1338 underline 4px;
    margin-left: 5%;
}
.highlightsContainer{
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}
.number{
    color: #0f7fab;
    font-size: 2.25em;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
    height: 50px;
    text-align: center;
}
.text{
    font-size: 1.25em;
    width: 80%;
    text-align: center;
    height: 50px;
    font-style: italic;
    line-height: 1.25em;
}

@include md {
    .glanceContainer{
        margin-bottom: 15%;
    }
    .highlightsContainer{
        padding: 0;
        justify-content: space-around;
    }
    .glanceTitle{
        text-decoration: #cf1338 underline;
    }
    .number{
        font-size: 1.75em;
        height: 35px;
    }
    .text{
        font-size: 1em;
    }
}